<footer>
    <h3>Siguenos</h3>
    <ul class="lista-footer">
        <li class="foot-txt-hiz">Contacta con nosotros</li>
        <li class="foot-txt-hiz">F.A.Q</li>
        <li class="foot-txt-hiz">Política de cookies</li>
        <li><img src="images/instagram.png" alt=""></li>
        <li><img src="images/facebook.png" alt=""></li>
        <li><img src="images/twitter.png" alt=""></li>
        <li><img src="images/linkedin.png" alt=""></li>
        <li class="foot-txt-der">Términos legales</li>
        <li class="foot-txt-der">Política de privacidad</li>
        <li class="foot-txt-der">Español</li>
    </ul>
</footer>