<header>
    <nav class="navbar">
        <ul class="primera-lista">
            <a href="index.html">
                <img class="primera-item logo" src="images/logo.png" alt="logo">
            </a>
            <li class="primera-item inicio">
                <a href="index.html">Inicio</a>
            </li>
            <li class="primera-item billetes">
                <a href="billetes.html">Billetes</a>
            </li>
            <li class="primera-item contactos">
                <a href="contactos.html">Contactos</a>
            </li>
            <li class="primera-item quien-somos">
                <a href="quien-somos.html">Quien somos</a>
            </li>
        </ul>
        
        <ul class="segunda-lista">
            <li class="segunda-item search">
                <input type="search" placeholder="Buscar">
            </li>
            <li class="segunda-item inicia-session">
                <a href="">Inicia seción</a>
            </li>
            <li class="segunda-item">
                <button class="btn btn-registrate">Regístrate</button>
            </li>
        </ul>
    </nav>
</header>